[submodule "skeleton-rs"]
	path = skeleton-rs
	url = https://github.com/opensass/skeleton-rs
[submodule "accordion-rs"]
	path = accordion-rs
	url = https://github.com/opensass/accordion-rs
[submodule "alert-rs"]
	path = alert-rs
	url = https://github.com/opensass/alert-rs
[submodule "eld"]
	path = eld
	url = https://github.com/opensass/eld
[submodule "i18n-rs"]
	path = i18n-rs
	url = https://github.com/opensass/i18n-rs
[submodule "image-rs"]
	path = image-rs
	url = https://github.com/opensass/image-rs
[submodule "input-rs"]
	path = input-rs
	url = https://github.com/opensass/input-rs
[submodule "navbar"]
	path = navbar
	url = https://github.com/opensass/navbar
[submodule "radio-rs"]
	path = radio-rs
	url = https://github.com/opensass/radio-rs
[submodule "scroll-rs"]
	path = scroll-rs
	url = https://github.com/opensass/scroll-rs
[submodule "select-rs"]
	path = select-rs
	url = https://github.com/opensass/select-rs
[submodule "sidebar"]
	path = sidebar
	url = https://github.com/opensass/sidebar
[submodule "slider-rs"]
	path = slider-rs
	url = https://github.com/opensass/slider-rs
[submodule "table-rs"]
	path = table-rs
	url = https://github.com/opensass/table-rs
[submodule "theme-rs"]
	path = theme-rs
	url = https://github.com/opensass/theme
[submodule "browser-rs"]
	path = browser-rs
	url = https://github.com/opensass/browser-rs
[submodule "hero"]
	path = hero
	url = https://github.com/opensass/hero
[submodule "card-rs"]
	path = card-rs
	url = https://github.com/opensass/card-rs.git
[submodule "avatar"]
	path = avatar
	url = https://github.com/opensass/avatar.git
[submodule "badges-rs"]
	path = badges-rs
	url = https://github.com/opensass/badges-rs.git
[submodule "coders"]
	path = coders
	url = https://github.com/opensass/coders
[submodule "otprs"]
	path = otprs
	url = https://github.com/opensass/otprs
[submodule "form-rs"]
	path = form-rs
	url = https://github.com/opensass/form-rs
[submodule "sushi-rs"]
	path = sushi-rs
	url = https://github.com/opensass/sushi-rs
[submodule "pride-rs"]
	path = pride-rs
	url = https://github.com/opensass/pride-rs
